<div class="container">
    <div class="row">

      <div class="col-md-3">

        <%= render 'users/userinfo', current_user: @user %>

        <%= render 'foods/newfood', food_new: @food_new %>

      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Healthy Food detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @food.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
              <br><%= link_to user_path(@user) do %><%= @user.name %><% end %>
              </td>
              <td><%= link_to food_path do %>
                  <p><%= @food.title %></p>
                  <% end %>
              </td>
              <td><%= @food.body %></td>

              <%# if @food.user == current_user %>
              <% if current_user == @food.user %>
              <td>
                <%=link_to "Edit",edit_food_path(@food.id), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%=link_to "Destroy",food_path(@food.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
              </td>
              <% else %>
      　　　　　　　<td></td>
      　　　　　　　<td></td>
              <% end %>

            </tr>
          </tbody>
        </table>

        <h2>Comment</h2>
        <table>
        <% @food.food_comments.each do |food_comment| %>
        <% food_comment_user = food_comment.user %>
        <tr>
  	    <td>
  		<%= link_to user_path(food_comment_user), class: "user_#{food_comment_user.id}" do %>
    		<%= attachment_image_tag food_comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
    		<%= food_comment_user.name %>
  		<% end %>
  	    </td>
  	    <td><%= food_comment.comment %></td>
  	    <% if current_user == food_comment_user %>
    	<td><%= link_to 'Destroy', food_food_comment_path(food_comment.food_id, food_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
  	    <% end %>
        </tr>
        <% end %>
        </table>

        <%= form_with model:[@food,@food_comment] do |f| %>
         <%= f.text_area :comment %>
         <%= f.submit '送信', class: 'btn btn-primary' %>
        <% end %>

      </div>

    </div>
  </div>